<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Currency Exchange</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div>
        <h1>Welcome to dashBoard</h1>
        <h2 >Currency Converter</h2>
        <form action="/dashboard" method="post">
            <div class="input-container">
                <input type="text" class="amount" min="0" name="amount">
                <select class="from" name="from"></select>
            </div>
            <!-- <div class="arrow">&rarr;</div> -->
            <div class="input-container">
                <input type="number" class="covertedAmt">
                <select class="to" name="to"></select>
            </div>
            <button type="submit">Exchange rate</button>
        </form>
        &nbsp;
        <div class="result">1 USD = 82.00</div>
    </div>
    <script src="/js/script.js"></script>
</body>
</html>