* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100vh;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

input[type="radio"] {
    margin-right: 5px;
}

.mobile-input {
    display: flex;
    align-items: center;
}

.mobile-input span {
    background-color: #ddd;
    padding: 10px;
    border: 1px solid #ddd;
    border-right: none;
    border-radius: 5px 0 0 5px;
}

.mobile-input input {
    flex: 1;
    border-radius: 0 5px 5px 0;
}

button {
    background-color: #f0a04b;
    border: none;
    padding: 12px;
    border-radius: 25px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #e69538;
}
.btn-sign{
    background-color: bisque;
    text-decoration: node;
    cursor: pointer;
    font-weight: bold;
    color: black;
}


